@import "typography.css";
@import "breakpoints.css";

html,
body {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
	text-align: center;
}

.body {
	max-width: 90%;
	margin: auto;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

.main-section {
	align-self: center;
}

.footer {
	grid-row-start: 5;
}

.insult-field {
	font-size: 2em;
}

.text-field {
	margin-bottom: 1em;
}
